<div (keydown.enter)="addInList()">
    <div class="haut-de-page">
        <div class="actions">
            <button class="home" (click)="comeBackHome()">Home</button>
            <button class="clear" (click)="clearList()">Nettoyer</button>
        </div>
        <p>{{name}}</p>
    </div>
    
    <div class="body">
        <ul>
            <li *ngFor="let elt of list">{{elt}}</li>
        </ul>
        <input class="nouvel-item" [(ngModel)]="nouvelObjet" placeholder="Nouvel Item" />
        <button class="ajouter" (click)="addInList()" >Ajouter à ma liste</button>
    </div>
</div>
