<div class="grid-container">
    <button class="pastel-color-1" (click)="showDetail('Films à voir')">Films à voir</button>
    <button class="pastel-color-2" (click)="showDetail('Musiques à écouter')">Musique à écouter</button>
    <button class="pastel-color-3" (click)="showDetail('Livres à lire')">Livres à lire</button>
    <button class="pastel-color-4" (click)="showDetail('Films à partager')">Films à partager</button>
    <button class="pastel-color-5" (click)="showDetail('Musiques à partager')">Musique à partager</button>
    <button class="pastel-color-6" (click)="showDetail('Livres à partager')">Livres à partager</button>
</div>
